
<h2>Product List</h2>

<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productService.products" [routerLink]="['/products', product.ean13]">
            <td>
                {{product.name}}
            </td>
            <td>
                {{product.description}}
            </td>
            <td>
                {{product.price}}
            </td>
        </tr>
    </tbody>
</table>
